.cart-widget {
   position: relative;
}
.cart-widget__icon {
   width: 32px;
   height: 32px;
}
.cart-widget__quantity {
   position: absolute;
   bottom: 0;
   left: 0;
   display: flex;
   justify-content: center;
   align-items: center;
   width: 24px;
   height: 24px;
   background-color: #ebca11;
   transform: translate(-30%, 40%);
}

.game-card {
   position: relative;
   width: 16rem;
   height: 30rem;
   padding: 0;
   margin: 8px;
}
.game-card .card-body {
   position: absolute;
   bottom: 0;
}

.game-details {
   background-color: #ffffff;
   padding: 2rem 1rem;
}
.game-details__body {
   position: relative;
}

.card-quantity {
   height: 4rem;
   display: flex;
   align-items: center;
}
.card-quantity p {
   margin: 0;
}
.card-quantity__selector {
   display: flex;
   width: 6rem;
   height: 2.5rem;
   margin-left: .75rem;
   justify-content: center;
   align-items: center;
}
.card-quantity__selector span {
   width: 100%;
   text-align: center;
   font-size: 24px;
   font-weight: 700;
   cursor: pointer;
}
.card-quantity__selector .quantity {
   font-size: 18px;
   font-weight: 600;
   border-right: 2px solid rgba(0, 0, 0, .2);
   border-left: 2px solid rgba(0, 0, 0, .2);
   pointer-events: none;
}

.game-details__body .add-cart-btn {
   position: absolute;
   top: 85%;
}

.cart-list {
   margin-top: 2rem;
}
.cart-list h2 {
   color: #ffffff;
   text-align: center;
}

.cart-card{
   background-color: #ffffff;
   border-radius: 8px;
   padding: 1rem;
}

.cart-details {
   position: relative;
}
.cart-details .card-body p{
   margin-bottom: 0;
}
.cart-details .card-body div {
   position: absolute;
   bottom: 6%;
   width: 97%;
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.subtotal {
   font-size: 20px;
   font-weight: 700;
}

.total-price {
   color: #ffffff;
   text-align: end;
}

.purchase-options {
   text-align: end;
   margin-top: 1rem;
}
.purchase-options button {
   margin-left: 1rem;
}

.checkout {
   height: 85vh;
   display: flex;
   align-items: center;
   flex-direction: column;
   margin-top: 1.5rem;
}
.checkout h2 {
   color: #ffffff;
   text-align: center;
}

.confirm-form {
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   margin: 1rem auto;
   width: 50%;
   border-radius: 8px;
   padding: 1rem;
   background-color: #ffffff;
}
.confirm-form div label {
   color: #000000;
}
.confirm-form div input {
   border: 1px solid #696969
}

.purchase-section h2{
   text-align: left;
}
.purchase-section h4 {
   color: #ffffff;
}
.purchase-section button {
   background-color: #ffffff;
   color: #000000;
}

.error-div h2 + h3 {
   color: #ffffff;
}